<nav mat-tab-nav-bar mat-align-tabs="center" class="navtabs-container">
  <a
    mat-tab-link
    routerLink="/"
    routerLinkActive
    #home="routerLinkActive"
    [active]="home.isActive"
  >
    Home
  </a>
  <a
    mat-tab-link
    routerLink="/accommodation"
    routerLinkActive
    #accommodation="routerLinkActive"
    [active]="accommodation.isActive"
  >
    Accommodation
  </a>
  <a
    mat-tab-link
    routerLink="/foodandbeverage"
    routerLinkActive
    #foodandbeverage="routerLinkActive"
    [active]="foodandbeverage.isActive"
  >
    Food and Beverage
  </a>
  <a
    mat-tab-link
    routerLink="/signup"
    routerLinkActive
    #celebration="routerLinkActive"
    [active]="celebration.isActive"
  >
    Sign Up
  </a>
  <a
    mat-tab-link
    routerLink="/signin"
    routerLinkActive
    #weddings="routerLinkActive"
    [active]="weddings.isActive"
  >
    Sign In
  </a>
</nav>
