<div id="accommodation">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Top picks</mat-button-toggle>
    <mat-button-toggle value="italic">Price(Lowest)</mat-button-toggle>
    <mat-button-toggle value="underline">Stars</mat-button-toggle>
    <mat-button-toggle value="underline"
      >Distance from City Centre
    </mat-button-toggle>
    <mat-button-toggle value="bold">Top reviewed</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="main-content">
    <h2>Explore</h2>
    <div class="explore-panel">
      <div class="explore-item">
        <img src="" alt="image" />
        <div>
          <h4>Stays</h4>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
      </div>

      <div class="explore-item">
        <img src="" alt="image" />
        <div>
          <h4>Experiences</h4>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
      </div>

      <div class="explore-item">
        <img src="" alt="image" />
        <div>
          <h4>Resturants</h4>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
      </div>
    </div>
    <h2>A place to stay</h2>
    <div class="places">
      <div class="place-item">
        <img src="" alt="image" />
        <div>
          <span style="color: rgb(118, 118, 118);"
            >Entire apartment<span aria-hidden="true"> · </span>6 beds</span
          >
          <p>JBR Walck Beach Amazing Penthouse</p>
          <p>
            <span>Previous price:$299</span>
            <span>Discounted Price: $263/night</span>
            <span>Price: #1076</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="" alt="image" />
        <div>
          <span
            >SHARED ROOM
            <span>.</span>
            6 room
          </span>
          <p>Female room! 66th Floor Dubai Marina!2000+Reviews!</p>
        </div>
      </div>
      <div class="place-item">
        <img src="" alt="image" />
        <div>
          <span style="color: rgb(118, 118, 118);"
            >Entire apartment<span aria-hidden="true"> · </span>6 beds</span
          >
          <p>JBR Walck Beach Amazing Penthouse</p>
          <p>
            <span>Previous price:$299</span>
            <span>Discounted Price: $263/night</span>
            <span>Price: #1076</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="" alt="image" />
        <div>
          <span
            >SHARED ROOM
            <span>.</span>
            6 room
          </span>
          <p>Female room! 66th Floor Dubai Marina!2000+Reviews!</p>
        </div>
      </div>
      <div class="place-item">
        <img src="" alt="image" />
        <div>
          <span style="color: rgb(118, 118, 118);"
            >Entire apartment<span aria-hidden="true"> · </span>6 beds</span
          >
          <p>JBR Walck Beach Amazing Penthouse</p>
          <p>
            <span>Previous price:$299</span>
            <span>Discounted Price: $263/night</span>
            <span>Price: #1076</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="" alt="image" />
        <div>
          <span
            >SHARED ROOM
            <span>.</span>
            6 room
          </span>
          <p>Female room! 66th Floor Dubai Marina!2000+Reviews!</p>
        </div>
      </div>
      <div class="place-item">
        <img src="" alt="image" />
        <div>
          <span style="color: rgb(118, 118, 118);"
            >Entire apartment<span aria-hidden="true"> · </span>6 beds</span
          >
          <p>JBR Walck Beach Amazing Penthouse</p>
          <p>
            <span>Previous price:$299</span>
            <span>Discounted Price: $263/night</span>
            <span>Price: #1076</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="" alt="image" />
        <div>
          <span
            >SHARED ROOM
            <span>.</span>
            6 room
          </span>
          <p>Female room! 66th Floor Dubai Marina!2000+Reviews!</p>
        </div>
      </div>
    </div>
  </div>
</div>
