<div id="accommodation">
  <div class="main-content">
    <h2>Explore</h2>
    <div class="explore-panel">
      <div class="explore-item">
        <img src="/assets/images/bedroom.jpg" alt="image" />
        <div class="explore-text">
          <h4 class="explore-heading">Stays</h4>
          <span class="explore-body">Homes, boutique, hotels and more</span>
        </div>
      </div>

      <div class="explore-item">
        <img src="/assets/images/exclusive-banquet.jpg" alt="image" />
        <div class="explore-text">
          <h4 class="explore-heading">Experiences</h4>
          <p class="explore-body">Lorem ipsum dolor sit amet consectetur</p>
        </div>
      </div>

      <div class="explore-item">
        <img src="/assets/images/kitchen.jpg" alt="image" />
        <div class="explore-text">
          <h4 class="explore-heading">Resturants</h4>
          <p class="explore-body">Lorem ipsum dolor sit amet consectetur</p>
        </div>
      </div>
    </div>
    <h2>A place to stay</h2>
    <div class="places">
      <div class="place-item">
        <img src="/assets/images/pool.jpg" alt="image" />
        <div class="places-text">
          <h4>Entire apartment<span aria-hidden="true"> · </span>6 beds</h4>
          <p>JBR Walck Beach Amazing Penthouse</p>
          <p>
            <span class="previous">$299</span>
            <span class="discounted-price">$263/night</span>
            <span class="price">$1076 Total</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="/assets/images/bedroom.jpg" alt="image" />
        <div class="places-text">
          <h4>
            SHARED ROOM
            <span>.</span>
            6 room
          </h4>
          <p>Female room! 66th Floor Dubai Marina!2000+Reviews!</p>
          <p>
            <span class="previous">$18</span>
            <span class="discounted-price">$16</span>
            <span class="price">$54 Total</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="/assets/images/hotel.jpg" alt="image" />
        <div class="places-text">
          <h4>Entire apartment<span aria-hidden="true"> · </span>6 beds</h4>
          <p>JBR Walck Beach Amazing Penthouse</p>
          <p>
            <span class="previous">$299</span>
            <span class="discounted-price">$263/night</span>
            <span class="price">$1076 Total</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="/assets/images/hotel-1.jpg" alt="image" />
        <div class="places-text">
          <h4>
            SHARED ROOM
            <span>.</span>
            6 room
          </h4>
          <p>Female room! 66th Floor Dubai Marina!2000+Reviews!</p>
          <p>
            <span class="previous">$18</span>
            <span class="discounted-price">$16</span>
            <span class="price">$54 Total</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="/assets/images/pool.jpg" alt="image" />
        <div class="places-text">
          <h4>Entire apartment<span aria-hidden="true"> · </span>6 beds</h4>
          <p>JBR Walck Beach Amazing Penthouse</p>
          <p>
            <span class="previous">$299</span>
            <span class="discounted-price">$263/night</span>
            <span class="price">$1076 Total</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="/assets/images/bedroom.jpg" alt="image" />
        <div class="places-text">
          <h4>
            SHARED ROOM
            <span>.</span>
            6 room
          </h4>
          <p>Female room! 66th Floor Dubai Marina!2000+Reviews!</p>
          <p>
            <span class="previous">$18</span>
            <span class="discounted-price">$16</span>
            <span class="price">$54 Total</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="/assets/images/hotel.jpg" alt="image" />
        <div class="places-text">
          <h4>Entire apartment<span aria-hidden="true"> · </span>6 beds</h4>
          <p>JBR Walck Beach Amazing Penthouse</p>
          <p>
            <span class="previous">$299</span>
            <span class="discounted-price">$263/night</span>
            <span class="price">$1076 Total</span>
          </p>
        </div>
      </div>
      <div class="place-item">
        <img src="/assets/images/hotel-1.jpg" alt="image" />
        <div class="places-text">
          <h4>
            SHARED ROOM
            <span>.</span>
            6 room
          </h4>
          <p>Female room! 66th Floor Dubai Marina!2000+Reviews!</p>
          <p>
            <span class="previous">$18</span>
            <span class="discounted-price">$16</span>
            <span class="price">$54 Total</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
