<div id="main-content">
  <div class="dining">
    <h1 class="mat-display-1">Dining</h1>
    <img src="/assets/images/restaurant.jpg" alt="" />
    <mat-card class="dining-service">
      <div class="services">
        <h3>Dining Services</h3>
        <ul>
          <li>Bar-B-Q and/or picnic area</li>
          <li>Room service, 24-hour</li>
          <li>Room service</li>
          <li>Sundry/Convenience store</li>
        </ul>
      </div>
      <div class="ads">
        <img
          src="/assets/images/breakfast.jpg"
          alt="breakfast for two"
          class="ads-img"
        />
        <h4>Breakfast for two</h4>
        <button mat-button color="accent">
          Book Now <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
